spring:
  application:
    name: client-01

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health , info, prometheus

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    #    register-with-eureka: false
    registry-fetch-interval-seconds: 5
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    hostname: localhost
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 15
