# prometheus.yml.template (NOT prometheus.yml)
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    basic_auth:
      username: admin
      password: PASSWORD_PLACEHOLDER  # <--- We will swap this out automatically